{% extends 'base.html' %}
{% block title %}{{ user.user_id }} Profile  {% endblock %}

{% block body %}
    <h1>User Profile</h1>

    <p>
        Email: {{ user.email }}
    </p>

    Movie Ratings:
    <p>
        {% for rating in ratings %}
            <li>{{rating.movie.title}}: {{ rating.score }}</li>
        {% endfor %}
    </p>
    <p>
        <a href="/movies">Rate a movie</a>
        <form action="/logout">
            <button type="submit">Log out</button>
        </form>
    </p>

{% endblock %}